Package: com.joshuaseltzer.advancedsettings8
Name: AdvancedSettings8
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Joshua Seltzer
Author: Joshua Seltzer
Section: Tweaks
